{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Frogohs - {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}" />
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>Frogohs</h1>
        </header>
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>