{% extends "base.html" %}

{% block title %}
    Distribution Method List
{% endblock %}

{% block content %}
    <h1>Distribution Method List</h1>
    <ul>
    {% for dist_method in distmethod_list %}
        <li>
            <a href="{% url vgdb-distmethod-detail distmethod_slug=dist_method.slug %}">
                {{dist_method.name}}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}