{% extends "base.html" %}

{% block title %}
    Distribution Method Detail
{% endblock %}

{% block content %}
    <h1>{{distmethod.name}}</h1>
    
    <h2>Platforms</h2>
    
    <ul>
    {% for rel in distmethod.platform_set.all %}
        <li>
            <a href="{% url vgdb-platform-detail platform_slug=rel.platform.slug %}"
            >
            {{ rel.platform.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    
{% endblock %}