﻿{% extends "base.html" %}

{% block title %}
    Game Detail
{% endblock %}

{% block content %}
    <h1>{{game.name}}</h1>
    
    {% if game.series %}
    <h2>Series:</h2>
    
    <a href="{% url vgdb-series-detail series_id=game.series.id %}">
        {{game.series.name}}
    </a>
    {% endif %}

    <h2>Content</h2>
    <ul>
    {% for gamecontent in game.gamecontent_set.all %}
    <li>{{gamecontent.name}}</li>
    {% endfor %}
    </ul>
    
{% endblock %}
