{% extends "base.html" %}

{% block title %}
    Platform List
{% endblock %}

{% block content %}
    <h1>Platform List</h1>
    <ul>
    {% for platform in platform_list %}
        <li>
            <a href="{% url vgdb-platform-detail platform_slug=platform.slug %}">
                {{platform.name}}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}