{% extends "base.html" %}

{% block title %}
    Platform Detail
{% endblock %}

{% block content %}
    <h1>{{platform.name}}</h1>
    
    <img alt="{{platform.name}} logo" 
        src="/static/img/platform-logo-{{platform.slug}}.svg" 
        />
        
    <h2>Distribution Methods</h2>
    
    <ul>
    {% for rel in platform.dist_method_set.all %}
        <li>
            <a href="{% url vgdb-distmethod-detail distmethod_slug=rel.dist_method.slug %}"
            >
            {{ rel.dist_method.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    
{% endblock %}