﻿{% extends "base.html" %}

{% block title %}
    Series Detail
{% endblock %}

{% block content %}    
    <h1>{{series.name}}</h1>
    
    {% if series.parent_series %}
        <h2>Parent Series: <a href="{% url vgdb-series-detail series_id=series.parent_series.id %}"
            >
            {{ series.parent_series.name }}
            </a></h2>
    {% endif %}    
    
    {% with subseries_list=series.subseries_set.all %}    
    {% if subseries_list %}
    <h2>Sub-series</h2>
    <ul>
    {% for subseries in subseries_list %}
        <li>
            <a href="{% url vgdb-series-detail series_id=subseries.id %}"
            >
            {{ subseries.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <h2>Games</h2>
    <ul>
    {% for game in series.game_set.all %}
        <li>
            <a href="{% url vgdb-game-detail game_id=game.id %}">
                {{game.name}}
            </a>
        </li>
    {% endfor %}
    </ul>
    
{% endblock %}
