﻿{% extends "base.html" %}

{% block title %}
    Series List
{% endblock %}

{% block content %}
    <h1>Series List</h1>
    <ul>
    {% for series in series_list %}
        <li>
            <a href="{% url vgdb-series-detail series_id=series.id %}">
                {{series.name}}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}