form section
{
    border:.2em solid #888;
    border-radius:1em;
    overflow:hidden;
    margin:1em;
}

form section hgroup
{
    background-color: #45a;
    background: linear-gradient(red, blue);
    color:white;
    /*display:block;*/
    text-align:center;
}

form section ul li
{
    list-style-type:none;
    padding:.25em;
}

form section ul li.buttons
{
    text-align:center;
}

form section ul label
{
    font-weight:bold;
    display:block;
}
form button,
form a
{
    background-color:#abd;
    border:.1em solid #888;
    border-radius:5px;
    font-weight:bold;
    color:white;
    text-decoration:none;
    display:inline-block;
    padding:.5em;
}
form button:hover,
form a:hover
{
    background-color:#bce;
}