body
{
    background-color: #eee;
}

header
{
    background-color: #45a;
    /*padding: 10px 5px;*/
    border-bottom: 5px solid #555
}

header h1
{
    color:white;
    /*font-size: 18pt;*/
}

#content
{
    /*padding:10px;*/
}

h1
{
    margin:0;
}