table tr.even
{
}

table tr.odd
{
    background-color:#aaa;
}

table th
{
    color:white;
    font-weight:bold;
    background-color: #45a;
    border-right:1px solid white;
}
table th:last-child
{
    border: 0;
}

table td
{
    border:1px solid #888;
}
