{% extends "base.html" %}

{% block title %}
    Collection Management Profile
{% endblock %}

{% block content %}
    <h1>Profile for {{profile.user.username}}</h1>
    
    <a href="{% url collmgt-profilegame-list username=profile.user.username %}">
        View Games
    </a>
    
{% endblock %}