{% extends "base.html" %}

{% block title %}
    Collection Management - {{profile.user.username}} - Game Detail
{% endblock %}

{% block content %}
    <a href="{% url collmgt-profilegame-list username=profilegame.profile.user.username %}">
        Return to game list
    </a>
    <ul>
        <li>
            <label>Game:</label>
            {{ profilegame.game_name }}
        </li>
        <li>
            <label>Platform:</label>
            {{ profilegame.platform_distmethod.platform }}
        </li>
        <li>
            <label>Dist Method:</label>
            {{ profilegame.platform_distmethod.dist_method }}
        </li>
        <li>
            <label>Ownership Status:</label>
            {{ profilegame.ownership_status }}
        </li>
        
        {% if can_change or can_delete %}
        <li>
            {% if can_change %}
            <a href="{% url collmgt-profilegame-update username=profilegame.profile.user.username profile_game_id=profilegame.id %}"
               
            >
                Edit
            </a>
            {% endif %}
            {% if can_delete %}
            <a href="{% url collmgt-profilegame-delete username=profilegame.profile.user.username profile_game_id=profilegame.id %}">
                Delete
            </a>
            {% endif %}
        </li>
        {% endif %}
    </ul>
{% endblock %}