{% extends "base.html" %}

{% block title %}
    Collection Management {{profile.user.username}} - Games
{% endblock %}

{% block content %}
    <hgroup>
        <h1>Games for {{profile.user.username}}</h1>
    </hgroup>
    
    {% if can_add %}
    <a href="{% url collmgt-profilegame-create username=profile.user.username %}"
       class="goto-create"
    >
        Add a Game
    </a>
    {% endif %}
    
    <table>
        <thead>
            <tr>
                <th>
                    Game Name
                </th>
                <th>
                    Platform
                </th>
                <th>
                    Dist. Method
                </th>
                <th>
                    Ownership Status
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            {% for profilegame in profilegames.all %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td>
                    {{ profilegame.game_name }}
                </td>
                <td>
                    {{ profilegame.platform_distmethod.platform }}
                </td>
                <td>
                    {{ profilegame.platform_distmethod.dist_method }}
                </td>
                <td>
                    {{ profilegame.ownership_status }}
                </td>
                <td>
                    <a href="{% url collmgt-profilegame-detail username=profile.user.username profile_game_id=profilegame.id %}"
                       class="goto-detail"
                    >
                        View
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    
{% endblock %}