{% extends "base.html" %}

{% block title %}
    Delete Game
{% endblock %}

{% block content %}

    {{ errors }}
    
    <form action="{{ request.path }}" method="post">
    {% csrf_token %}
    
        Are you sure you want to delete {{ profilegame.game_name }}?
        
        <button type="submit">Confirm Delete</button>
        <a href="{% url collmgt-profilegame-detail username=profilegame.profile.user.username profile_game_id=profilegame.id %}">
            Cancel
        </a>
    </form>

{% endblock %}