{% extends "base.html" %}

{% block title %}
    Profile Game Form
{% endblock %}

{% block content %}

    {{ errors }}
    
    <form action="{{ request.path }}" method="post">
    {% csrf_token %}
    
        <section>
            <hgroup>
                <h1>
                    Edit Game Info
                </h1>
            </hgroup>
    
            <ul>
                {{ form.as_ul }}
                
                <li class="buttons">
                    <button type="submit">Save</button>
                    {% if profilegame %}
                    <a href="{% url collmgt-profilegame-detail username=profile.user.username profile_game_id=profilegame.id %}"
                        class="cancel goto-detail"
                    >
                        Cancel
                    </a>
                    {% else %}
                    <a href="{% url collmgt-profilegame-list username=profile.user.username %}"
                        class="cancel goto-list"
                    >
                        Cancel
                    </a>
                    {% endif %}
                </li>
            </ul>
        
        </section>
    </form>

{% endblock %}